@import url("https://fonts.googleapis.com/css?family=Prociono");
/* line 19, ../sass/style.scss */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 27, ../sass/style.scss */
body, html {
  margin: 0;
  background: #f0e8db;
}

/* line 33, ../sass/style.scss */
body.neatline.browse div.container {
  margin: 3em auto;
  width: 50%;
}
/* line 36, ../sass/style.scss */
body.neatline.browse div.container div.exhibit {
  margin: 5px 0;
}

/* line 45, ../sass/style.scss */
body.neatline.show, body.neatline.fullscreen {
  font-family: "Prociono", serif;
}
/* line 47, ../sass/style.scss */
body.neatline.show div.exhibit, body.neatline.fullscreen div.exhibit {
  float: left;
  width: 1px;
}
/* line 50, ../sass/style.scss */
body.neatline.show div.exhibit #neatline, body.neatline.show div.exhibit #neatline-map, body.neatline.fullscreen div.exhibit #neatline, body.neatline.fullscreen div.exhibit #neatline-map {
  height: 100%;
  width: 100%;
}
/* line 57, ../sass/style.scss */
body.neatline.show div#neatline-narrative, body.neatline.fullscreen div#neatline-narrative {
  background: #f0e8db;
  color: #615e4b;
  font-size: 14px;
  line-height: 20px;
  float: right;
  overflow-y: scroll;
  padding: 2em;
  width: 480px;
}
/* line 58, ../sass/style.scss */
body.neatline.show div#neatline-narrative a, body.neatline.fullscreen div#neatline-narrative a {
  color: #6c542d;
  text-decoration: underline;
}
/* line 62, ../sass/style.scss */
body.neatline.show div#neatline-narrative a:hover, body.neatline.fullscreen div#neatline-narrative a:hover {
  color: #738fb5;
}
/* line 71, ../sass/style.scss */
body.neatline.show div#neatline-narrative a.back, body.neatline.fullscreen div#neatline-narrative a.back {
  display: inline-block;
  padding: 5px 8px;
  margin-bottom: 1em;
  font-size: 12px;
}
/* line 76, ../sass/style.scss */
body.neatline.show div#neatline-narrative a.back .arrow, body.neatline.fullscreen div#neatline-narrative a.back .arrow {
  font-size: 14px;
}
/* line 80, ../sass/style.scss */
body.neatline.show div#neatline-narrative h1.title, body.neatline.fullscreen div#neatline-narrative h1.title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 1.0em;
}
/* line 87, ../sass/style.scss */
body.neatline.show div#neatline-narrative [data-neatline-slug], body.neatline.fullscreen div#neatline-narrative [data-neatline-slug] {
  background: #d9bf9d;
  cursor: pointer;
  padding: 0.5px;
}
/* line 92, ../sass/style.scss */
body.neatline.show div#neatline-narrative [data-neatline-slug].selected, body.neatline.show div#neatline-narrative [data-neatline-slug].hover, body.neatline.fullscreen div#neatline-narrative [data-neatline-slug].selected, body.neatline.fullscreen div#neatline-narrative [data-neatline-slug].hover {
  background: #738fb5;
  color: white;
}
/* line 99, ../sass/style.scss */
body.neatline.show #waypoints, body.neatline.fullscreen #waypoints {
  color: #615e4b;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7);
  border-right: 2px solid #e1d1b7;
}
/* line 104, ../sass/style.scss */
body.neatline.show #waypoints a.title, body.neatline.fullscreen #waypoints a.title {
  border-bottom: 2px solid #e1d1b7;
}
/* line 105, ../sass/style.scss */
body.neatline.show #waypoints a.title:hover, body.neatline.show #waypoints a.title.selected, body.neatline.fullscreen #waypoints a.title:hover, body.neatline.fullscreen #waypoints a.title.selected {
  background: #738fb5;
  color: #ffffff;
}
/* line 106, ../sass/style.scss */
body.neatline.show #waypoints a.title.highlighted, body.neatline.fullscreen #waypoints a.title.highlighted {
  background: #b6c4d8;
  color: #615e4b;
}
/* line 110, ../sass/style.scss */
body.neatline.show #static-bubble div.body a.close, body.neatline.fullscreen #static-bubble div.body a.close {
  font-size: 2em;
  line-height: .8em;
}
/* line 114, ../sass/style.scss */
body.neatline.show #static-bubble div.body a.close:hover, body.neatline.fullscreen #static-bubble div.body a.close:hover {
  background: none;
}
/* line 118, ../sass/style.scss */
body.neatline.show #colophon, body.neatline.fullscreen #colophon {
  border-top: 1px solid #d2ba93;
  font-size: 12px;
}
