@import url("https://fonts.googleapis.com/css?family=Prociono");
/* line 8, ../sass/style.scss */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 16, ../sass/style.scss */
body {
  margin: 0;
}
/* line 18, ../sass/style.scss */
body a {
  text-decoration: none;
}
/* line 21, ../sass/style.scss */
body a:hover {
  text-decoration: underline;
}

/* line 28, ../sass/style.scss */
body.neatline.browse div.container {
  margin: 3em auto;
  width: 50%;
}
/* line 31, ../sass/style.scss */
body.neatline.browse div.container div.exhibit {
  margin: 5px 0;
}

/* line 40, ../sass/style.scss */
body.neatline.show {
  font-family: "Prociono", serif;
}
/* line 44, ../sass/style.scss */
body.neatline.show div.exhibit {
  float: left;
  width: 1px;
}
/* line 47, ../sass/style.scss */
body.neatline.show div.exhibit #neatline, body.neatline.show div.exhibit #neatline-map {
  height: 100%;
  width: 100%;
}
/* line 52, ../sass/style.scss */
body.neatline.show div.narrative {
  float: right;
  overflow-y: scroll;
  padding: 2em;
  width: 500px;
}
/* line 57, ../sass/style.scss */
body.neatline.show div.narrative a.back {
  display: inline-block;
  padding: 5px 8px;
  margin-bottom: 1em;
  font-size: .8em;
}
/* line 62, ../sass/style.scss */
body.neatline.show div.narrative a.back .arrow {
  font-size: 13px;
}
/* line 66, ../sass/style.scss */
body.neatline.show div.narrative h1.title {
  margin: 0;
  padding-bottom: .2em;
}
/* line 74, ../sass/style.scss */
body.neatline.show #static-bubble div.body a.close {
  font-size: 2em;
  line-height: .8em;
}
/* line 78, ../sass/style.scss */
body.neatline.show #static-bubble div.body a.close:hover {
  background: none;
}
/* line 82, ../sass/style.scss */
body.neatline.show #colophon {
  border-top: 1px solid blue;
  font-size: .8em;
}
