@import url("https://fonts.googleapis.com/css?family=Prociono");

$font: 'Prociono', serif;

    


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*::selection {
}

body{
  margin: 0;
  a {
      text-decoration: none;
  }
  a:hover {
      text-decoration: underline;
  }
  
}
  body.neatline.browse {

    div.container {
        margin: 3em auto;
        width: 50%;
      div.exhibit {
          margin: 5px 0;
      }
      p.title {
      }      
    }
  }  

 
body.neatline.show {
  font-family: $font;


  div.exhibit {
      float: left;
      width: 1px;
    #neatline, #neatline-map {
        height: 100%;
        width: 100%;
    }
  }
  div.narrative {
      float: right;
      overflow-y: scroll;
      padding: 2em;
      width: 500px;
    a.back {
        display: inline-block;
        padding: 5px 8px;
        margin-bottom: 1em;
        font-size: .8em;
      .arrow {
          font-size: 13px;
      }
    }
    h1.title {
        margin: 0;
        padding-bottom: .2em;
    }    
    p {
    }    
  }  
  #static-bubble div.body {
    a.close {
        font-size: 2em;
        line-height: .8em;
    }    
    a.close:hover {
        background: none;
    }    
  }  
  #colophon {
      border-top: 1px solid blue;
      font-size: .8em;
  }  
}




