@import url("https://fonts.googleapis.com/css?family=Prociono");

$font: 'Prociono', serif;
$titleFontSize: 32px;
$titleFontLineHeight: 38px;

$narTan: rgb(240,232,219);
$narTanHighlight: rgb(217,191,157);
$narBrown: #615e4b;
$narBlue: #738fb5;
$narWhite: #ffffff;
$narFontSize: 14px;
$narFontLineHeight: 20px;

$bubbleBrown: #615e4b;
$bubbleTan: #f1e8dc;


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*::selection {
}

body{
  margin: 0; 
}
  body.neatline.browse {

    div.container {
        margin: 3em auto;
        width: 50%;
      div.exhibit {
          margin: 5px 0;
      }
      p.title {
      }      
    }
  }  

 //Exhibit section
body.neatline.show {
  font-family: $font;
  div.exhibit {
      float: left;
      width: 1px;
    #neatline, #neatline-map {
        height: 100%;
        width: 100%;
    }
  }
  
  // Narrative Section
  div.narrative {
    a{
      color: darken($narTan, 60%); 
      text-decoration: underline; 
    }
    a:hover{color: $narBlue;}
    background: $narTan;
    color:$narBrown;
    font-size: $narFontSize;
    line-height: $narFontLineHeight;
    float: right;
    overflow-y: scroll;
    padding: 2em;
    width: 500px;
    a.back {
        display: inline-block;
        padding: 5px 8px;
        margin-bottom: 1em;
        font-size: $narFontSize - 2px;
      .arrow {
          font-size: $narFontSize;
      }
    }
    h1.title {
      font-size:$titleFontSize;
      line-height: $titleFontLineHeight;
      margin-bottom: 1.0em;
    }    
    p {
    }
    [data-neatline-slug]{
      background: $narTanHighlight;
      cursor:pointer;
      padding:0.5px;
    }
    [data-neatline-slug].selected,[data-neatline-slug].hover {
      background: $narBlue;
      color:white;
    }    
  }

  // Waypoints Section
  #waypoints{
    color: $narBrown;
    font-size: $narFontSize + 4px;
    background: rgba(lighten($narTan,4%), .7);
    border-right: 2px solid darken($narTan, 10%);
    a.title{border-bottom:2px solid darken($narTan, 10%)};
    a.title:hover, a.title.selected{background:$narBlue; color:$narWhite;}
    a.title.highlighted{background:lighten($narBlue, 20%); color: $narBrown;}
  }
  
  #static-bubble div.body {
    a.close {
        font-size: 2em;
        line-height: .8em;
    }    
    a.close:hover {
        background: none;
    }    
  }  
  #colophon {
      border-top: 1px solid darken($narTan, 20%);
      font-size: $narFontSize - 2px;
  }  
}




