@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

$font: 'PT Sans Caption', sans-serif;
$titleFontSize: 20px;
$titleFontLineHeight: 28px;
$headerFont: 'Sifonn Pro';

$yellow: rgb(193,173,76);
$green: rgb(139,169,143);
$gray: rgb(104,124,124);
$white: #ffffff;
$narFontSize: 14px;
$narFontLineHeight: 20px;

$bubbleGreen: rgba(139, 169, 143, 0.9);
$wordBreak: break-word;


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
em {
    font-style: normal;
}

@font-face {
    font-family: 'Sifonn Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Sifonn Pro'), url('../fonts/SIFONN_PRO.woff') format('woff');
}

body, html{
  margin: 0; 
  background: $white;
  font-family: $font;
}
a {
    color: $yellow;
    font-size: $narFontSize;
}

h1, h2, h3, h4 {
    font-family: $headerFont;
    line-height: $titleFontLineHeight;
    font-size: $titleFontSize;
    color: $gray;
}

p.title {
    font-size: $titleFontSize;
    color: $gray;
}

  body.neatline.browse {

    div.container {
        margin: 3em auto;
        width: 50%;
      div.exhibit {
          margin: 5px 0;
      }
    }
  }  

 //Exhibit section
body.neatline.show, body.neatline.fullscreen{
  div.exhibit {
      float: left;
      width: 1px;
      #neatline {
          background: $green;
      }
    #neatline, #neatline-map {
        height: 100%;
        width: 100%;
    }
  }
  
  
  #static-bubble div.body {
    a.close {
        font-size: 2em;
        line-height: .8em;
    }    
    a.close:hover {
        background: none;
    }    
  }  
  #colophon {

  }  
  
  #static-bubble{
    display:block;
    background: $white;
    color: $green;
    border-radius:14px;
    $fontSize: 14px;
    opacity: initial;
    border: 10px solid $white;
    
    .close{
      background: $yellow;
      color: $white;
      font-weight: bold;
      padding: 0 7px;
      border-radius: 5px;
      font-size: 22px;
      -webkit-transition-duration: 0.5s; /* Safari */
      transition-duration: 0.5s;
    }
    .close:hover {
        background: darken($yellow, 10%);
        color: $white;
      }
    .title{
      font-family: $headerFont;
      display:inline;
      font-size: 1.80em;
      line-height: 1em;
      color: $gray;
      font-style: normal !important;
    }
    .subItemTitle{
      display:block;
      font-size: $fontSize + 2px;
      line-height: 30px;
      background: $green;
      color: $white;
      padding: 0 7px;
      margin-top: 1.2em;
    }
    .subItem{
      font-size: $narFontSize;
      display:block;
      margin-bottom: .5em;  
      padding: 5px 7px 0;
      word-wrap: $wordBreak;
    }
    p {
      word-wrap: $wordBreak;
      font-size: $narFontSize;
      a {
        color: $yellow;
        font-size: $narFontSize;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    
  }
}

#neatline.Waypoints.Simile #simile, #neatline.Simile #simile {
  height: 120px;
  .timeline-band-inner{
    border: 2px solid darken($gray, 10%);
  }
  .timeline-band-layer {
    background: rgba($gray, .1);
  }
  //remove formatting 
  strong, em, h1, h2, h3, h4, h5, h6, span, div, li{
   font-weight:normal;
   font-style:normal;
   font-size:12px;
  }
}

.grisham-narrative {
    margin: 10px 50px;
    scroll: auto;
    
    h1, h2, h3, h4 {
        font-size: $titleFontSize;
        line-height: $titleFontLineHeight;
        text-transform: uppercase;
        margin: 0 0 3px;
    }
    .button{
        background: $yellow;
        color: $white;
        padding: 4px 18px;
        border-radius: 5px;
        text-decoration: none;
        border-bottom: none;
        -webkit-transition-duration: 0.5s; /* Safari */
        transition-duration: 0.5s;
    }
    .button:hover{
        background: darken($yellow, 10%);
        color: $white;
        text-decoration: none;
    }
    p {
        color: $green;
        font-size: $narFontSize;
        margin: 0 0 10px;
        display: inline-block;
    }
    a {
        font-weight: bold;
        font-size: $narFontSize - 1px;
        text-decoration: none;
        border-bottom: 3px solid #c1ad4c;
    }
    a:hover {
        color: darken($yellow, 10%);
        text-decoration: none;
        border-bottom: none;
    }
}

#OpenLayers_Control_PanZoom_2_zoomworld {
    background: #222a23;
    pointer-events: none;
    cursor: default;
}
#OpenLayers_Control_PanZoom_2_zoomworld_innerImage {
    display:none;
}

/* STYLES FOR NEATLINE

.all{
  stroke-width: 2;
  stroke-color: #000;
  stroke-color-select: #000;
  stroke-opacity: 1.00;
  stroke-opacity-select: 1.00;
  fill-color: #000;
  fill-color-select: #c1ad4c;
  fill-opacity-select: 0.20;
  fill-opacity: 0.20;
  map-focus: (parameters from placement of map)
}

*/

