@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz");
/* line 20, ../sass/style.scss */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 26, ../sass/style.scss */
body,
html {
  margin: 0;
  background: #0a293d;
  color: #ffffff;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

/* line 34, ../sass/style.scss */
a {
  color: #00c5ff;
  font-size: 18px;
}

/* line 39, ../sass/style.scss */
h1 {
  line-height: 28px;
  font-size: 28px;
  font-weight: 500;
}

/* line 45, ../sass/style.scss */
p.title {
  font-size: 28px;
}

/* line 50, ../sass/style.scss */
body.neatline.browse div.container {
  margin: 3em auto;
  width: 50%;
}
/* line 53, ../sass/style.scss */
body.neatline.browse div.container div.exhibit {
  margin: 5px 0;
}

/* line 62, ../sass/style.scss */
body.neatline.show div.exhibit,
body.neatline.fullscreen div.exhibit {
  float: left;
  width: 80% !important;
}
/* line 65, ../sass/style.scss */
body.neatline.show div.exhibit #neatline,
body.neatline.show div.exhibit #neatline-map,
body.neatline.fullscreen div.exhibit #neatline,
body.neatline.fullscreen div.exhibit #neatline-map {
  height: 100%;
  width: 100%;
}
/* line 72, ../sass/style.scss */
body.neatline.show div#neatline-narrative,
body.neatline.fullscreen div#neatline-narrative {
  background: #15415e;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  float: right;
  overflow-y: scroll;
  padding: 2%;
  width: 20%;
}
/* line 73, ../sass/style.scss */
body.neatline.show div#neatline-narrative a,
body.neatline.fullscreen div#neatline-narrative a {
  color: #00c5ff;
  text-decoration: underline;
}
/* line 77, ../sass/style.scss */
body.neatline.show div#neatline-narrative a:hover,
body.neatline.fullscreen div#neatline-narrative a:hover {
  color: #2a7f9e;
}
/* line 88, ../sass/style.scss */
body.neatline.show div#neatline-narrative a.back,
body.neatline.fullscreen div#neatline-narrative a.back {
  display: inline-block;
  padding: 5px 8px;
  margin-bottom: 1em;
  font-size: 16px;
}
/* line 93, ../sass/style.scss */
body.neatline.show div#neatline-narrative a.back .arrow,
body.neatline.fullscreen div#neatline-narrative a.back .arrow {
  font-size: 18px;
}
/* line 97, ../sass/style.scss */
body.neatline.show div#neatline-narrative h1.title,
body.neatline.fullscreen div#neatline-narrative h1.title {
  font-size: 40px;
  line-height: 38px;
  margin-bottom: 1.0em;
}
/* line 102, ../sass/style.scss */
body.neatline.show div#neatline-narrative div#neatline-narrative a:hover,
body.neatline.fullscreen div#neatline-narrative div#neatline-narrative a:hover {
  font-color: #2a7f9e;
}
/* line 105, ../sass/style.scss */
body.neatline.show div#neatline-narrative p,
body.neatline.fullscreen div#neatline-narrative p {
  color: rgba(255, 255, 255, 0.9);
}
/* line 108, ../sass/style.scss */
body.neatline.show div#neatline-narrative [data-neatline-slug], body.neatline.show div#neatline-narrative [data-neatline-slug].selected,
body.neatline.show div#neatline-narrative [data-neatline-slug].hover,
body.neatline.fullscreen div#neatline-narrative [data-neatline-slug],
body.neatline.fullscreen div#neatline-narrative [data-neatline-slug].selected,
body.neatline.fullscreen div#neatline-narrative [data-neatline-slug].hover {
  background: rgba(28, 111, 141, 0.9);
  cursor: pointer;
  padding: 3px 3px 0px;
}
/* line 113, ../sass/style.scss */
body.neatline.show div#neatline-narrative .selected[data-neatline-slug],
body.neatline.show div#neatline-narrative .hover[data-neatline-slug],
body.neatline.fullscreen div#neatline-narrative .selected[data-neatline-slug],
body.neatline.fullscreen div#neatline-narrative .hover[data-neatline-slug] {
  background: #0a293d;
  color: white;
}
/* line 121, ../sass/style.scss */
body.neatline.show #waypoints,
body.neatline.fullscreen #waypoints {
  color: #15415e;
  font-size: 22px;
  background: none;
  border-right: 2px solid #030c11;
  max-height: calc(100% - 120px) !important;
}
/* line 127, ../sass/style.scss */
body.neatline.show #waypoints a.title,
body.neatline.fullscreen #waypoints a.title {
  font-size: 18px;
  color: #15415e;
  line-height: 1.4em;
  padding: .3em .8em;
  background: cyan;
  border-bottom: 2px solid #2a7f9e;
}
/* line 128, ../sass/style.scss */
body.neatline.show #waypoints a.title strong,
body.neatline.show #waypoints a.title em,
body.neatline.show #waypoints a.title h1,
body.neatline.show #waypoints a.title h2,
body.neatline.show #waypoints a.title h3,
body.neatline.show #waypoints a.title h4,
body.neatline.show #waypoints a.title h5,
body.neatline.show #waypoints a.title h6,
body.neatline.show #waypoints a.title span,
body.neatline.show #waypoints a.title div,
body.neatline.show #waypoints a.title li,
body.neatline.fullscreen #waypoints a.title strong,
body.neatline.fullscreen #waypoints a.title em,
body.neatline.fullscreen #waypoints a.title h1,
body.neatline.fullscreen #waypoints a.title h2,
body.neatline.fullscreen #waypoints a.title h3,
body.neatline.fullscreen #waypoints a.title h4,
body.neatline.fullscreen #waypoints a.title h5,
body.neatline.fullscreen #waypoints a.title h6,
body.neatline.fullscreen #waypoints a.title span,
body.neatline.fullscreen #waypoints a.title div,
body.neatline.fullscreen #waypoints a.title li {
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.4em;
}
/* line 151, ../sass/style.scss */
body.neatline.show #waypoints a.title:hover,
body.neatline.show #waypoints a.title.selected,
body.neatline.fullscreen #waypoints a.title:hover,
body.neatline.fullscreen #waypoints a.title.selected {
  background: #0a293d;
  color: #ffffff;
}
/* line 156, ../sass/style.scss */
body.neatline.show #waypoints a.title.highlighted,
body.neatline.fullscreen #waypoints a.title.highlighted {
  background: #186495;
  color: #ffffff;
}
/* line 162, ../sass/style.scss */
body.neatline.show #static-bubble div.body a.close,
body.neatline.fullscreen #static-bubble div.body a.close {
  font-size: 2em;
  line-height: .8em;
}
/* line 166, ../sass/style.scss */
body.neatline.show #static-bubble div.body a.close:hover,
body.neatline.fullscreen #static-bubble div.body a.close:hover {
  background: none;
}
/* line 170, ../sass/style.scss */
body.neatline.show #colophon,
body.neatline.fullscreen #colophon {
  border-top: 1px solid #ffffff;
  font-size: 16px;
}
/* line 174, ../sass/style.scss */
body.neatline.show #static-bubble,
body.neatline.fullscreen #static-bubble {
  display: block;
  background: rgba(28, 111, 141, 0.9);
  color: #ffffff;
  border-radius: 14px;
  opacity: initial;
}
/* line 181, ../sass/style.scss */
body.neatline.show #static-bubble .close,
body.neatline.fullscreen #static-bubble .close {
  background: #15415e;
  color: #ffffff;
  font-weight: bold;
  padding: 0 7px;
  border-radius: 5px;
  font-size: 22px;
}
/* line 189, ../sass/style.scss */
body.neatline.show #static-bubble .title,
body.neatline.fullscreen #static-bubble .title {
  display: inline;
  font-size: 2em;
  line-height: 1em;
}
/* line 194, ../sass/style.scss */
body.neatline.show #static-bubble .subItemTitle,
body.neatline.fullscreen #static-bubble .subItemTitle {
  display: block;
  font-size: 18px;
  line-height: 30px;
  background: rgba(21, 65, 94, 0.7);
  padding: 0 7px;
  margin-top: 1.2em;
}
/* line 202, ../sass/style.scss */
body.neatline.show #static-bubble .subItem,
body.neatline.fullscreen #static-bubble .subItem {
  display: block;
  margin-bottom: .5em;
  padding: 5px 7px 0;
  word-wrap: break-word;
  font-size: 18px;
}
/* line 209, ../sass/style.scss */
body.neatline.show #static-bubble .description,
body.neatline.fullscreen #static-bubble .description {
  font-size: 18px;
  line-height: 24px;
  padding: 15px 0 0;
}
/* line 214, ../sass/style.scss */
body.neatline.show #static-bubble .content.body p,
body.neatline.fullscreen #static-bubble .content.body p {
  word-wrap: break-word;
  font-size: 18px;
}
/* line 217, ../sass/style.scss */
body.neatline.show #static-bubble .content.body p a,
body.neatline.fullscreen #static-bubble .content.body p a {
  color: #00c5ff;
  font-size: 18px;
  text-decoration: none;
}
/* line 222, ../sass/style.scss */
body.neatline.show #static-bubble .content.body p a:hover,
body.neatline.fullscreen #static-bubble .content.body p a:hover {
  text-decoration: underline;
}

/* line 230, ../sass/style.scss */
#neatline .widget::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/* line 236, ../sass/style.scss */
#neatline .widget::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

/* line 241, ../sass/style.scss */
#neatline .widget::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2a7f9e;
}

/* line 247, ../sass/style.scss */
#neatline.Waypoints.Simile #simile,
#neatline.Simile #simile {
  height: 120px;
  width: 100%;
}
/* line 251, ../sass/style.scss */
#neatline.Waypoints.Simile #simile .timeline-band-inner,
#neatline.Simile #simile .timeline-band-inner {
  border: 2px solid #2a7f9e;
}
/* line 254, ../sass/style.scss */
#neatline.Waypoints.Simile #simile .timeline-band-layer,
#neatline.Simile #simile .timeline-band-layer {
  background: rgba(0, 250, 255, 0.1);
}
/* line 258, ../sass/style.scss */
#neatline.Waypoints.Simile #simile strong,
#neatline.Waypoints.Simile #simile em,
#neatline.Waypoints.Simile #simile h1,
#neatline.Waypoints.Simile #simile h2,
#neatline.Waypoints.Simile #simile h3,
#neatline.Waypoints.Simile #simile h4,
#neatline.Waypoints.Simile #simile h5,
#neatline.Waypoints.Simile #simile h6,
#neatline.Waypoints.Simile #simile span,
#neatline.Waypoints.Simile #simile div,
#neatline.Waypoints.Simile #simile li,
#neatline.Simile #simile strong,
#neatline.Simile #simile em,
#neatline.Simile #simile h1,
#neatline.Simile #simile h2,
#neatline.Simile #simile h3,
#neatline.Simile #simile h4,
#neatline.Simile #simile h5,
#neatline.Simile #simile h6,
#neatline.Simile #simile span,
#neatline.Simile #simile div,
#neatline.Simile #simile li {
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
}
