@import url("https://fonts.googleapis.com/css?family=Prociono");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body, html {
  margin: 0;
  background: #f0e8db; }

h1 {
  line-height: 38px;
  font-size: 32px; }

body.neatline.browse div.container {
  margin: 3em auto;
  width: 50%; }
  body.neatline.browse div.container div.exhibit {
    margin: 5px 0; }

body.neatline.show, body.neatline.fullscreen {
  font-family: "Prociono", serif; }
  body.neatline.show div.exhibit, body.neatline.fullscreen div.exhibit {
    float: left;
    width: 1px; }
    body.neatline.show div.exhibit #neatline, body.neatline.show div.exhibit #neatline-map, body.neatline.fullscreen div.exhibit #neatline, body.neatline.fullscreen div.exhibit #neatline-map {
      height: 100%;
      width: 100%; }
  body.neatline.show div#neatline-narrative, body.neatline.fullscreen div#neatline-narrative {
    background: #f0e8db;
    color: #615e4b;
    font-size: 14px;
    line-height: 20px;
    float: right;
    overflow-y: scroll;
    padding: 2em;
    width: 480px; }
    body.neatline.show div#neatline-narrative a, body.neatline.fullscreen div#neatline-narrative a {
      color: #6c542d;
      text-decoration: underline; }
    body.neatline.show div#neatline-narrative a:hover, body.neatline.fullscreen div#neatline-narrative a:hover {
      color: #738fb5; }
    body.neatline.show div#neatline-narrative a.back, body.neatline.fullscreen div#neatline-narrative a.back {
      display: inline-block;
      padding: 5px 8px;
      margin-bottom: 1em;
      font-size: 12px; }
      body.neatline.show div#neatline-narrative a.back .arrow, body.neatline.fullscreen div#neatline-narrative a.back .arrow {
        font-size: 14px; }
    body.neatline.show div#neatline-narrative h1.title, body.neatline.fullscreen div#neatline-narrative h1.title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 1.0em; }
    body.neatline.show div#neatline-narrative [data-neatline-slug], body.neatline.fullscreen div#neatline-narrative [data-neatline-slug] {
      background: #d9bf9d;
      cursor: pointer;
      padding: 0.5px; }
    body.neatline.show div#neatline-narrative [data-neatline-slug].selected, body.neatline.show div#neatline-narrative [data-neatline-slug].hover, body.neatline.fullscreen div#neatline-narrative [data-neatline-slug].selected, body.neatline.fullscreen div#neatline-narrative [data-neatline-slug].hover {
      background: #738fb5;
      color: white; }
  body.neatline.show #waypoints, body.neatline.fullscreen #waypoints {
    color: #615e4b;
    font-size: 18px;
    background: none;
    border-right: 2px solid #e1d1b7; }
    body.neatline.show #waypoints a.title, body.neatline.fullscreen #waypoints a.title {
      font-size: 18px;
      line-height: 1.4em;
      background: rgba(255, 255, 255, 0.7);
      border-bottom: 2px solid #e1d1b7; }
      body.neatline.show #waypoints a.title strong, body.neatline.show #waypoints a.title em, body.neatline.show #waypoints a.title h1, body.neatline.show #waypoints a.title h2, body.neatline.show #waypoints a.title h3, body.neatline.show #waypoints a.title h4, body.neatline.show #waypoints a.title h5, body.neatline.show #waypoints a.title h6, body.neatline.show #waypoints a.title span, body.neatline.show #waypoints a.title div, body.neatline.show #waypoints a.title li, body.neatline.fullscreen #waypoints a.title strong, body.neatline.fullscreen #waypoints a.title em, body.neatline.fullscreen #waypoints a.title h1, body.neatline.fullscreen #waypoints a.title h2, body.neatline.fullscreen #waypoints a.title h3, body.neatline.fullscreen #waypoints a.title h4, body.neatline.fullscreen #waypoints a.title h5, body.neatline.fullscreen #waypoints a.title h6, body.neatline.fullscreen #waypoints a.title span, body.neatline.fullscreen #waypoints a.title div, body.neatline.fullscreen #waypoints a.title li {
        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        line-height: 1.4em; }
    body.neatline.show #waypoints a.title:hover, body.neatline.show #waypoints a.title.selected, body.neatline.fullscreen #waypoints a.title:hover, body.neatline.fullscreen #waypoints a.title.selected {
      background: #738fb5;
      color: #ffffff; }
    body.neatline.show #waypoints a.title.highlighted, body.neatline.fullscreen #waypoints a.title.highlighted {
      background: #b6c4d8;
      color: #615e4b; }
  body.neatline.show #static-bubble div.body a.close, body.neatline.fullscreen #static-bubble div.body a.close {
    font-size: 2em;
    line-height: .8em; }
  body.neatline.show #static-bubble div.body a.close:hover, body.neatline.fullscreen #static-bubble div.body a.close:hover {
    background: none; }
  body.neatline.show #colophon, body.neatline.fullscreen #colophon {
    border-top: 1px solid #d2ba93;
    font-size: 12px; }
  body.neatline.show #static-bubble, body.neatline.fullscreen #static-bubble {
    display: block;
    background: rgba(97, 94, 75, 0.9);
    color: #f1e8dc;
    border-radius: 14px;
    opacity: initial; }
    body.neatline.show #static-bubble .close, body.neatline.fullscreen #static-bubble .close {
      background: #f1e8dc;
      color: rgba(97, 94, 75, 0.9);
      font-weight: bold;
      padding: 0 7px;
      border-radius: 5px;
      font-size: 22px; }
    body.neatline.show #static-bubble .title, body.neatline.fullscreen #static-bubble .title {
      display: inline;
      font-size: 2em;
      line-height: 1em; }
    body.neatline.show #static-bubble .subItemTitle, body.neatline.fullscreen #static-bubble .subItemTitle {
      display: block;
      font-size: 16px;
      line-height: 30px;
      background: #524f3c;
      padding: 0 7px;
      margin-top: 1.2em; }
    body.neatline.show #static-bubble .subItem, body.neatline.fullscreen #static-bubble .subItem {
      display: block;
      margin-bottom: .5em;
      padding: 5px 7px 0;
      word-wrap: break-word; }

#neatline.Waypoints.Simile #simile, #neatline.Simile #simile {
  height: 120px; }
  #neatline.Waypoints.Simile #simile .timeline-band-inner, #neatline.Simile #simile .timeline-band-inner {
    border: 2px solid #e1d1b7; }
  #neatline.Waypoints.Simile #simile .timeline-band-layer, #neatline.Simile #simile .timeline-band-layer {
    background: rgba(240, 232, 219, 0.1); }
  #neatline.Waypoints.Simile #simile strong, #neatline.Waypoints.Simile #simile em, #neatline.Waypoints.Simile #simile h1, #neatline.Waypoints.Simile #simile h2, #neatline.Waypoints.Simile #simile h3, #neatline.Waypoints.Simile #simile h4, #neatline.Waypoints.Simile #simile h5, #neatline.Waypoints.Simile #simile h6, #neatline.Waypoints.Simile #simile span, #neatline.Waypoints.Simile #simile div, #neatline.Waypoints.Simile #simile li, #neatline.Simile #simile strong, #neatline.Simile #simile em, #neatline.Simile #simile h1, #neatline.Simile #simile h2, #neatline.Simile #simile h3, #neatline.Simile #simile h4, #neatline.Simile #simile h5, #neatline.Simile #simile h6, #neatline.Simile #simile span, #neatline.Simile #simile div, #neatline.Simile #simile li {
    font-weight: normal;
    font-style: normal;
    font-size: 12px; }

/*# sourceMappingURL=style.css.map */
