@import url("https://fonts.googleapis.com/css?family=Prociono");

$font: 'Prociono', serif;
$titleFontSize: 32px;
$titleFontLineHeight: 38px;

$narTan: rgb(240,232,219);
$narTanHighlight: rgb(217,191,157);
$narBrown: #615e4b;
$narBlue: #738fb5;
$narWhite: #ffffff;
$narFontSize: 14px;
$narFontLineHeight: 20px;

$bubbleBrown: #615e4b;
$bubbleTan: #f1e8dc;


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body, html{
  margin: 0; 
  background: $narTan;
}
  body.neatline.browse {

    div.container {
        margin: 3em auto;
        width: 50%;
      div.exhibit {
          margin: 5px 0;
      }
      p.title {
      }      
    }
  }  

 //Exhibit section
body.neatline.show, body.neatline.fullscreen{
  font-family: $font;
  div.exhibit {
      float: left;
      width: 1px;
    #neatline, #neatline-map {
        height: 100%;
        width: 100%;
    }
  }
  
  // Narrative Section
  div#neatline-narrative {
    a{
      color: darken($narTan, 60%); 
      text-decoration: underline; 
    }
    a:hover{color: $narBlue;}
    background: $narTan;
    color:$narBrown;
    font-size: $narFontSize;
    line-height: $narFontLineHeight;
    float: right;
    overflow-y: scroll;
    padding: 2em;
    width: 480px;
    a.back {
        display: inline-block;
        padding: 5px 8px;
        margin-bottom: 1em;
        font-size: $narFontSize - 2px;
      .arrow {
          font-size: $narFontSize;
      }
    }
    h1.title {
      font-size:$titleFontSize;
      line-height: $titleFontLineHeight;
      margin-bottom: 1.0em;
    }    
    p {
    }
    [data-neatline-slug]{
      background: $narTanHighlight;
      cursor:pointer;
      padding:0.5px;
    }
    [data-neatline-slug].selected,[data-neatline-slug].hover {
      background: $narBlue;
      color:white;
    }    
  }

  // Waypoints Section
  #waypoints{
    color: $narBrown;
    font-size: $narFontSize + 4px;
    background: none;
    border-right: 2px solid darken($narTan, 10%);
    a.title{
      background: rgba(lighten($narTan, 10%), .7);
      border-bottom:2px solid darken($narTan, 10%);
    }
    a.title:hover, a.title.selected{background:$narBlue; color:$narWhite;}
    a.title.highlighted{background:lighten($narBlue, 20%); color: $narBrown;}
  }
  
  #static-bubble div.body {
    a.close {
        font-size: 2em;
        line-height: .8em;
    }    
    a.close:hover {
        background: none;
    }    
  }  
  #colophon {
      border-top: 1px solid darken($narTan, 20%);
      font-size: $narFontSize - 2px;
  }  
  
  #static-bubble{
    display:block;
    background: $bubbleBrown;
    color: $bubbleTan;
    border-radius:14px;
    $fontSize: 14px;
    
    .close{
      background: $bubbleTan;
      color: $bubbleBrown;
      font-weight: bold;
      padding: 0 7px;
      border-radius: 5px;
      font-size: 22px;
    }
    .title{
      display:inline;
      font-size: 2em;
      line-height: 1em;
    }
    .subItemTitle{
      display:block;
      font-size: $fontSize + 2px;
      line-height: 30px;
      background: #524f3c;
      padding: 0 7px;
      margin-top: 1.2em;
    }
    .subItem{
      display:block;
      margin-bottom: .5em;
    }
    
    
  }
}

#neatline.Waypoints.Simile #simile, #neatline.Simile #simile {
  height: 120px;
  .timeline-band-inner{
    border: 2px solid darken($narTan, 10%);
  }
  .timeline-band-layer {
    background: rgba($narTan, .1);
  }
  //remove formatting 
  strong, em, h1, h2, h3, h4, h5, h6, span, div, li{
   font-weight:normal;
   font-style:normal;
   font-size:12px;
  }
}




